/dist/
/resources/

# ignore html files generatied from cue files
/code/**/*.html
# remember html files we manually write for examples
!/code/**/templates/*.html
!/code/**/templates/**/*.html
!/code/**/partials/*.html
!/code/**/partials/**/*.html

# /code/flow/examples/
# /code/flow/schemas/
/cue.mod/pkg/
/cue.mod/gen/
/node_modules/
# symlinked to /node_modules/ directory, hence no trailing /
/assets/node_modules
