{{ define "main" }}
	{{if .Site.Home.Content }}

	<h1>{{ .Title }}</h1>
  <hr /><br />

	{{.Site.Home.Content}}
	{{else}}
			<h1>Customize your own home page</h1>
			<p>
			  The site is working. Don't forget to customize this homepage with your own. You typically have 2 choices :
			</p>
			<ul>
			  <li><b>1. </b> Create an _index.md document in the content folder</li>
			  <li><b>2. </b> Configure your server to automatically redirect this home page to one of your documentation pages</li>
			</ul>
		<p><i class="fa fa-heart fa-4x"></i></p>
	{{ end }}

{{ end }}
