[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
flask-cors = "*"
Jinja2 = "*"
black = "*"
Werkzeug = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
