# Private keys - these are each expected to be 64 char hex strings (256 bit)
PDS_REPO_SIGNING_KEY_K256_PRIVATE_KEY_HEX=
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=

# Secrets - update to secure high-entropy strings
PDS_DPOP_SECRET=
PDS_JWT_SECRET=
PDS_ADMIN_PASSWORD=
PDS_SPICEDB_TOKEN=run `hof env init/secrets
