server {
	location /mp/collect {
		proxy_pass https://www.google-analytics.com/mp/collect;
		add_header api_secret ${GA_MP_APIKEY};
	}

	location /debug/mp/collect {
		proxy_pass https://www.google-analytics.com/debug/mp/collect;
		add_header api_secret ${GA_MP_APIKEY};
	}
}
