{{- $sortTerm :=  .Get "sort" | default "Weight" }}

{{- .Scratch.Set "current" .Page }}
{{- if (.Get "page")}}
	{{- with .Site.GetPage "section" (.Get "page") }}
		{{- $.Scratch.Set "current" . }}
	{{- end }}
{{- end }}
{{- $cpage := (.Scratch.Get "current") }}

{{- $brief := "" }}
{{- if $cpage.Params.brief}}
{{- $.Scratch.Set "brief" $cpage.Params.brief }}
{{- end }}
{{- if (.Get "brief")}}
{{- $.Scratch.Set "brief" (.Get "brief") }}
{{- end }}
{{- $brief := (.Scratch.Get "brief") }}



<br>
{{ if ne .Page.Title $cpage.Title }}
<a class="h1 text-primary" href="/{{ $cpage.File.Dir }}">{{ $cpage.Title }}</a>
{{ if $brief }}<span class="text-dark h4 ms-2">{{ $brief }}</span>{{ end }}
<br>
<br>

{{ end }}

<table class="table table-borderless">
<tbody style="font-size: 120%">
	{{- .Scratch.Set "pages" $cpage.Pages }}
    {{- if $cpage.Sections}}
	    {{- .Scratch.Set "pages" ($cpage.Pages | union $cpage.Sections) }}
    {{- end}}
    {{- $pages := (.Scratch.Get "pages") }}

	{{- if eq $sortTerm "Weight"}}
		{{- template "childs" dict "menu" $pages.ByWeight "pages" .Site.Pages "sortTerm" $sortTerm "brief" (.Get "childBriefs")}}
	{{end}}
</tbody>
</table>


{{ define "childs" }}
  {{ $cBrief := .brief }}
  {{- range .menu }}
		<tr>
			<td class="border-0"><a href="{{.RelPermalink}}">{{ .Title }}</a></td>
			{{ if (and $cBrief .Params.brief) }}<td class="border-0">{{ .Params.brief }}</td>{{end}}
    </tr>
  {{ end }}
{{ end }}
